<div class="text-center">
  <%= image_tag "app_logo.png", class: "mx-auto d-block" %>

<h2>今こそ本屋を語りましょう</h2>
<p>あなたの”推し本屋”聞かせてください</p>

<h3>出来ること</h3>
<p>あなたの"推し本屋"を語る、見つける</p>
<h3>このアプリを共有する</h3>
<p>本屋好きに届いてもらえたら嬉しいです</p>
<%= link_to "Xで共有する", "https://twitter.com/share?url=#{URI.encode_www_form_component(root_url)}&text=#{URI.encode_www_form_component("好きな本屋ありますか？「ほんやがたり」で見つかるかもしれません。")}&hashtags=#{URI.encode_www_form_component("ほんやがたり,バトラン")}", target: '_blank' %>
</div>