
<div class="text-center">
  <%= image_tag "app_logo.png", class: "mx-auto d-block" %>

<h2>今こそ本屋を語りましょう</h2>
<p>あなたの”推し本屋”聞かせてください</p>
<%= link_to "本屋を探す", bookstores_path %>

<h3>出来ること</h3>
<p>あなたの"推し本屋"を語る、見つける</p>
<h3>このアプリを共有する</h3>
<p>本屋好きに届いてもらえたら嬉しいです</p>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= root_url %>" data-text="好きな本屋ありますか？「ほんやがたり」で見つかるかもしれません。" data-hashtags="ほんやがたり,バトラン" data-show-count="false">Xで共有する</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>