<header>
  <nav class="navbar navbar-expand-lg navigation navbar-light bg-light">


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto main-nav align-items-center">
    <li class="nav-item">
      <%= link_to "本屋を探す", "#", class: "nav-link" %>
    </li>
    <li class="nav-item">
    <%= link_to "診断機能", "#", class: "nav-link" %>
    </li>
    <li class="nav-item">
    <%= link_to "アプリの使い方", "#", class: "nav-link" %>
    </li>
    <li class="nav-item">
    <%= link_to "ログイン", login_path, class: "nav-link" %>  
    </li>
    </ul>
  </div>
  </nav>
</header>