<header>
  <nav class="navbar navbar-expand-lg navigation navbar-light bg-light">


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto main-nav align-items-center">
    <li class="nav-item">
      <%= link_to t('header.find_bookstore'), "#", class: "nav-link" %>
    </li>
    <li class="nav-item">
    <%= link_to t('header.diagnostic'), "#", class: "nav-link" %>
    </li>
    <li class="nav-item">
    <%= link_to t('header.how_to_use'), "#", class: "nav-link" %>
    </li>
    <li class="nav-item">
    <%= link_to t('header.login'), login_path, class: "nav-link" %>  
    </li>
    </ul>
  </div>
  </nav>
</header>