<%= content_for(:title, t('.title')) %>
<div class="d-flex justify-content-center align-items-center vh-100">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdoxCSKZ7Hd32WDhPxtrz_ouhIwLUI2CtdeFOgxoz8o5oeVyw/viewform?embedded=true" width="640" height="674" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
</div>