<div data-turbo="false">
<%= button_to wanna_go_bookstores_path(bookstore_id: bookstore.id), method: :post, id: "wanna_go-button-for-bookstore-#{bookstore.id}", class: "btn btn-link p-0 border-0" do %>
  <i class="bi bi-bookmark"></i>
<% end %>
</div>
